@page
@model Curio.Web.Pages.Login.LoginParametersModel

    <div>
        https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-5.0&tabs=visual-studio
    </div>
    @{


    }
    <div>

    </div>
